/* .slide {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.slider{
  width:400px;
  padding: 20px;
/*   margin: 20px auto; */
   .parent-slide{padding:15px;}
/*   img{display: block;margin:auto;} */
}
 */
