body {
  background-image: linear-gradient(to top, #a8edea 10%, #ffcbdb 90%);
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #868e96;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  color: black;
}


a:hover {
  text-decoration: none;
  color: #007bff;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


/* Header */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
}

header .navbar-brand span {
  color: #007bff;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-image: linear-gradient(to top, #a8edea 10%, #ffcbdb 90%) !important;
  background-attachment: fixed;
}

@media (max-width: 1199px) {
  header .navbar {
    background: white !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  outline: none !important;
}

@media (max-width: 1199px) {
  header .navbar .nav-link {
    padding: .5rem 0rem;
  }
}

header .navbar .nav-link.active {
  color: #007bff !important;
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.1);
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #f8f9fa;
  color: #007bff !important;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.top-pad {
  padding-top: 30px;
}

.head-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: black;
  width: 100%;
  height:100%;
}

/* Owl Carousel */
.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #007bff;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 72px;
  color: #fff;
  line-height: 1.2;
  font-weight: 300;
}

@media (max-width: 991px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 500px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 500px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 150px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50% !important;
  left: 50%;
  top: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #868e96;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.home-feature {
  margin-top: 3em;
  position: relative;
  z-index: 2;
}

.home-feature .one-col, .home-feature .two-col, .home-feature .three-col {
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  z-index: 2;
  top: 0;
}
.home-feature .one-col {
  border-radius: 30px 1px 1px 30px;
}
.home-feature .three-col {
  border-radius: 1px 30px 30px 1px;
}

@media (max-width: 767px) {
  .home-feature .one-col, .home-feature .two-col, .home-feature .three-col {
    border: none;
    margin-bottom: 10px;
  }
}

.home-feature .one-col .col-inner, .home-feature .two-col .col-inner, .home-feature .three-col .col-inner {
  position: relative;
  overflow: hidden;
}

.home-feature .one-col .icon, .home-feature .two-col .icon, .home-feature .three-col .icon {
  font-size: 150px;
  color: rgba(255, 255, 255, 0.247);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.home-feature .one-col h2, .home-feature .two-col h2, .home-feature .three-col h2 {
  color: rgba(0, 0, 0, 0.76);
  font-size: 16px;
  text-align: center;
  letter-spacing: .05em;
  font-weight: 350;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.home-feature .one-col p, .home-feature .two-col p, .home-feature .three-col p {
  color: rgba(0, 0, 0, 0.726);
  font-size: 15px;
  font-weight: 350;

}

.home-feature .one-col p:last-child, .home-feature .two-col p:last-child, .home-feature .three-col p:last-child {
  margin-bottom: 0;
}

.home-feature .one-col .btn-more, .home-feature .two-col .btn-more, .home-feature .three-col .btn-more {
  -webkit-transition: .15s all ease-out;
  -o-transition: .15s all ease-out;
  transition: .15s all ease-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  text-align: center;
  bottom: -50px;
  left: 0;
  right: 0;
  padding: 20px;
  background: #5AC8D8;
  z-index: -1;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .home-feature .one-col .btn-more, .home-feature .two-col .btn-more, .home-feature .three-col .btn-more {
    opacity: 1;
    visibility: visible;
    position: relative;
    bottom: 0;
  }
}

.home-feature .one-col .btn-more:hover, .home-feature .two-col .btn-more:hover, .home-feature .three-col .btn-more:hover {
  background: #6fcfdd;
}

.home-feature .one-col:hover, .home-feature .two-col:hover, .home-feature .three-col:hover {
  top: -10px;
  z-index: 3;
  -webkit-box-shadow: 0 4px 40px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 40px -5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
  .home-feature .one-col:hover, .home-feature .two-col:hover, .home-feature .three-col:hover {
    top: 0;
  }
}

.home-feature .one-col:hover .icon, .home-feature .two-col:hover .icon, .home-feature .three-col:hover .icon {
  -webkit-transform: translate(-10px, -50%);
  -ms-transform: translate(-10px, -50%);
  transform: translate(-10px, -50%);
}

.home-feature .one-col:hover .btn-more, .home-feature .two-col:hover .btn-more, .home-feature .three-col:hover .btn-more {
  opacity: 1;
  visibility: visible;
  bottom: -50px;
}

@media (max-width: 767px) {
  .home-feature .one-col:hover .btn-more, .home-feature .two-col:hover .btn-more, .home-feature .three-col:hover .btn-more {
    bottom: 0;
  }
}

.home-feature .one-col {
  background: #e7cbde;
}

.home-feature .two-col {
  background: #debad3;
}

.home-feature .three-col {
  background: #d6a8c8;
}

.section {
  padding: 3em 0;
}

.cta-link {
  background: #007bff;
  padding: 3.5em 0 3em 0;
  display: block;
  text-align: center;
}

.cta-link:focus, .cta-link:active {
  outline: none;
}

.cta-link span {
  line-height: 1.2;
}

.cta-link .sub-heading {
  color: #fff;
  display: block;
  font-size: 20px;
}

.cta-link .heading {
  font-size: 50px;
  color: #001933;
}

@media (max-width: 991px) {
  .cta-link .heading {
    font-size: 30px;
  }
}

.cta-link:hover {
  background: #006fe6;
}

.cover_1 {
  background-size: cover;
  background-position: center center;
  padding: 2em 0;
}

.cover_1 .sub-heading {
  color: black;
  font-size: 20px;
}

.cover_1 .heading {
  font-size: 40px;
  color: black;
  font-weight: bolder;
}



.heading.border-bottom {
  position: relative;
  padding-bottom: 30px;
}

.heading.border-bottom:before {
  bottom: 0;
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #007bff;
}

.text-black {
  color: #000 !important;
}

.stretch-section .video {
  display: block;
  position: relative;
  -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature .icon {
  font-size: 60px;
  color: #007bff;
}

.media-feature h3 {
  font-size: 20px;
}

.media-custom {
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.media-custom .meta-post {
  color: #adb5bd;
  font-size: 13px;
  text-transform: uppercase;
}

.media-custom .meta-chat {
  color: #ced4da;
}

.media-custom .meta-chat:hover {
  color: #868e96;
}

.media-custom:focus, .media-custom:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.media-custom .media-body {
  padding: 30px;
}

.media-custom .media-body h3 {
  font-size: 20px;
}

.media-custom .media-body p:last-child {
  margin-bottom: 0;
}

.list-unstyled.check li {
  position: relative;
  padding-left: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.list-unstyled.check li:before {
  color: #5AC8D8;
  left: 0;
  font-family: "Ionicons";
  content: "\f122";
  position: absolute;
}

.custom-tabs .border-right {
  border-right: 1px solid #dee2e6;
}

@media (max-width: 767px) {
  .custom-tabs .border-right {
    border-right: none;
  }
}

.custom-tabs .nav-pills .nav-link {
  padding-left: 0;
  font-size: 26px;
  font-weight: 100;
  color: #adb5bd;
  line-height: 1.2;
  margin-bottom: 10px;
}

.custom-tabs .nav-pills .nav-link span {
  font-size: 18px;
}

.custom-tabs .nav-pills .nav-link.active {
  background: none;
  color: #007bff;
  padding-left: 20px;
  position: relative;
}

.custom-tabs .nav-pills .nav-link.active:before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  background: #5AC8D8;
}

.custom-tabs .tab-pane .icon {
  font-size: 60px;
  display: block;
  color: #007bff;
}

.custom-tabs .tab-pane h2 {
  font-size: 60px;
  font-weight: 300;
}

#modalAppointment .modal-content {
  border-radius: 0;
  border: none;
}

#modalAppointment .modal-body, #modalAppointment .modal-footer {
  padding: 40px;
}

.site-footer {
  background: #f2f2f2;
  background: #283E56;
  color: rgba(255, 255, 255, 0.7);
}

.site-footer a {
  color: rgba(255, 255, 255, 0.5);
}

.site-footer a:hover {
  color: white;
}

.site-footer h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: .05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.site-footer .footer-link li {
  line-height: 1.3;
  margin-bottom: 15px;
}

.site-footer hr {
  width: 100%;
}

.site-footer .border-t {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
  font-size: 14px;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}
.hero {
  z-index: 1000;
  position: absolute;
  top: 75%;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10em;
}

.hero h1 span {
  color: #007bff;
}

.hero p {
  line-height: 1.25em;
  font-size: 2em;
}

html, body {
  height: 100%;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    margin-top: auto;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: center;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.logo-container {
    z-index: -1;
    background-image: linear-gradient(to top, #a8edea 10%, #ffcbdb 90%);
    background-attachment: fixed;
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
}

.logo-container img {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;

  top: 45%;
  transform: translateY(-50%);

  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 80%;
  overflow: hidden;
}

.hero-text {
  z-index: 2;
  position: absolute;
}

.date {
  margin-bottom: 0px;
}

.sponsor {
    max-height: 100px;
}

.spon h2 {
  font-size: 27px;
}

.mar-top {
  margin-top: 50px;
}

.sticky-top {
    position: fixed;
    width: 100%;
}

.section-bg-light {
  background-image: linear-gradient(to top, #a8edea 10%, #ffcbdb 90%);
  background-attachment: fixed;
}

.section-bg-light h2{
  font-weight: bolder;
  text-decoration: underline;
}

.answer {
  color: black;
}

.lead {
  color: black
}

/* Collapsible Panel */
@import url(https://fonts.googleapis.com/css?family=Raleway);

.faq-panel {
  color: #333;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.faq-question {
  padding-bottom: 15px;
}

.faq-question h2 {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 27px;
  color: black;
}

.panel-list-content {
  margin: 0 auto;
}

.panel-wrap {
  padding: 8px 0 7px 10px;
  border-bottom: 1px dotted rgb(53, 50, 50);
}

.panel-title {
  font-size: 16px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 20px 0 55px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 14px;
  padding: 0px 10px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 2;
  font-size: 20px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
/* End of Collapsible Panel */

.space-sp {
  color: #333;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  opacity: 0;
}

.proj-sec h2 {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
}

.proj-sec h3 {
  font-size: 18px;
}

.proj-title {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.proj-desc {
  font-size: 12px;
  color: black;
}

.proj-auth {
  font-size: 12px;
  font-style: italic;
  color: black;
}

.change-f {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  font-size: 12px;
}

.under-line {
  text-decoration: underline;
}

/* Social Media Side Bar*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social {
  z-index: 5;
  width: 200px;
  height: 100%;
  position: fixed;
  margin-top: 150px;
  perspective: 1000px
}
/* add a media transformation */

.social li a {
  display: block;
  height: 100%;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal
  16px/20px 
  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms
}

.social li:first-child a:hover { background: #3b5998 }
.social li:nth-child(2) a:hover { background: #b600ee }
.social li:nth-child(3) a:hover { background: #4cd2ea }
.social li:nth-child(4) a:hover { background: #dd4b39 }

.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child a { border-radius: 0 0 5px 0 }
    
.social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms
}

.social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}
/* Social Media Side Bar End */

.schedule {
  background-size: 0px;
  overflow: hidden;
  box-sizing: border-box;
}
.schedule .schedule-holder {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .schedule .schedule-holder {
      margin: 0;
  }
}

.schedule .schedule-middle {
  margin-left: 1em;
  padding-bottom: 2rem;
  margin-right: 1em;
}

.schedule .schedule-box {
  border-color: black;
  padding: .75em 1.5em 1.5em;
  margin-bottom: 2em;
  border: .5em solid #fff;
  border-radius: 2em;
  display: block;
  width: 100%;
}
.schedule h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.schedule h3 {
  text-decoration: underline;
  font-size: 20px;
  text-align: center
}
.schedule p {
  color: black;
  font-size: 14px;
  text-align: center;
}

.schedule p span {
  font-size: 8;
}
.column-a {
  float: left;
  padding: 10px;
  
}
.time {
  width: 80px;
}
.wch138, .wch139, .bytes {
  width: 200px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.bubble {
  max-width: 900px;
  color: white;
  padding: 40px 40px 80px 40px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/476907/speechbubble.svg') no-repeat top center;
  background-size: 100% 100%;
}
.bubble h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.bubble h3 {
  font-size: 18px;
  font-weight: 500px;
  text-decoration: underline;
}
.bubble p {
  font-size: 15px;
  color: rgb(32, 31, 31);
  font-style: italic;
}

@media (max-width: 200px) {
  .ann-tag {
    font-size: 15px;
  }
}

.ann-logo img {
  width: 180px;
  height: 180px;
  margin-left: 700px;
}

.hr {
  box-sizing: content-box;
  overflow: visible;
  padding: 0px;
  width: 100%;
  height: 17px;
  margin: 0px;
  border: none;
  background-color: #e7cbde;
}


/* speakers */
.spe-ment .judge {
  width: 100%;
}

.view {
  height: 100%;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view :hover {
  color: rgb(229, 225, 233);
}

.view .mask,
.view .content {
  width: 270px;
  height: 190px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 13px;
  font-family: Raleway, serif;
  padding: 3px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 15px 0 0 0
}
.view h3 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 12px;
  font-family: Raleway, serif;
  margin: 0 0 12px 0
  /*background: rgba(0, 0, 0, 0.8);*/

}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 11px;
  position: relative;
  color: #fff;
  padding: 0px 10px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.view a.info:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.view-first img {
  transition: all 0.2s linear;
  width: 270px;
  height: 190px;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(100, 46, 172, 0.44);
  transition: all 0.4s ease-in-out;
}

.view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

/* */
.view-first:hover img {
  transform: scale(1.1);
}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}

.view-first:hover p {
  transition-delay: 0.1s;
}

.view-first:hover a.info {
  transition-delay: 0.2s;
}
/* speakers end */

/* judges */
.judge {
  width: 100%;
}
.jview {
  height: 100%;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.jview :hover {
  color: rgb(212, 226, 228);
}

.jview .jmask,
.jview .jcontent {
  width: 220px;
  height: 220px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.jview img {
  display: block;
  position: relative
}

.jview h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 13px;
  font-family: Raleway, serif;
  padding: 3px;
  margin: 18px 0 0 0
}

.jview h3 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 11px;
  font-family: Raleway, serif;
  margin: 0 0 12px 0

}

.jview p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 0px 10px 0px;
  text-align: center
}

.jview a.jinfo {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.jview a.jinfo:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.jview-first img {
  transition: all 0.2s linear;
  width: 220px;
  height: 220px;
}

.jview-first .jmask {
  opacity: 0;
  background-color: rgba(1, 132, 132, 0.44);
  transition: all 0.4s ease-in-out;
}

.jview-first h2 {
  opacity: 0;
  font-family: Raleway, serif;
}

.jview-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.jview-first a.jinfo {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.jview-first:hover img {
  transform: scale(1.1);
}

.jview-first:hover .jmask {
  opacity: 1;
}

.jview-first:hover h2,
.jview-first:hover p,
.jview-first:hover a.jinfo {
  opacity: 4;
  transform: translateY(0px);
}

.jview-first:hover p {
  transition-delay: 0.1s;
}

.jview-first:hover a.jinfo {
  transition-delay: 0.2s;
}

/* judges end */

/* workshops */
.workshop {
  width: 100%;
}
.bview {
  height: 100%;
  margin: 0 50px 10px 50px ;
  float: left;
  border: 10px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.bview :hover {
  color: rgba(212, 226, 228, 0.904);
}

.bview .bmask,
.bview .bcontent {
  width: 260px;
  height: 160px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bview img {
  display: block;
  position: relative
}

.bview h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 12px;
  font-family: Raleway, serif;
  padding: 3px;
  margin: 20px 0 0 0;
}

.bview h3 {
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 11px;
  font-family: Raleway, serif;
}

.bview p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 10px;
  position: relative;
  color: #fff;
  padding: 0px 10px 0px;
  text-align: center
}

.bview a.binfo {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  font-size: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.bview a.binfo:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.719)
}

.bview-first img {
  transition: all 0.2s linear;
  width: 260px;
  height: 160px;
}

.bview-first .bmask {
  opacity: 0;
  background-color: rgba(86, 190, 45, 0.44);
  transition: all 0.4s ease-in-out;
}

.bview-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  font-family: Raleway, serif;
  transition: all 0.2s ease-in-out;
}

.bview-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.bview-first a.binfo {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.bview-first:hover img {
  transform: scale(1.1);
}

.bview-first:hover .bmask {
  opacity: 1;
}

.bview-first:hover h2,
.bview-first:hover p,
.bview-first:hover a.binfo {
  opacity: 1;
  transform: translateY(0px);
}

.bview-first:hover p {
  transition-delay: 0.1s;
}

.bview-first:hover a.binfo {
  transition-delay: 0.2s;
}
/*workshop ends*/

.agenda-txt {
  font-size: 24px;
  color: #f8f9fa;
  text-align: center;
  font-weight: bold;
}

.agenda-img img {
  display: block;
  width: 65%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  
}
@media (max-width: 600px){
  .agenda-txt .agenda-img{
    width: 100%;
    font-size: 17px;
  }
}






